<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/index.css"/>

</head>
<body>
<div id="wrapper">
    <div id="head_bg">
        <div id="header">
            <img src="__PUBLIC__/img/logo.png" alt="后台"/>
            <ul class="nav">
                <li><a href="#">管理区首页</a></li>
                <li><a href="#">重邮主页</a></li>
                <li><a href="#">新闻中心</a></li>
                <li><a href="#">红岩网校</a></li>
            </ul>
        </div>
    </div>